<div class="wrapper">

  <header class="main-header" *ngIf="access">
    <a href="/" class="logo">
      <span class="logo-mini"><b>Todo</b></span>
      <span class="logo-lg"><b>Todo</b></span>
    </a>
    <nav class="navbar navbar-static-top">
    </nav>
  </header>
  <aside class="main-sidebar" *ngIf="access">
    <section class="sidebar">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>


        <li>
          <a routerLink="/projects/list" routerLinkActive="active">
            <i class="fa fa-folder"></i> <span>Projects</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>


        <li>
          <a routerLink="/todos/list" routerLinkActive="active">
            <i class="fa fa-files-o"></i> <span>Todos</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>

        <li><a href=""><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
      </ul>
    </section>
  </aside>

  <router-outlet></router-outlet>

  <footer class="main-footer" *ngIf="access">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="#">Todo Application</a>.</strong> All rights
    reserved.
  </footer>

  <div class="control-sidebar-bg"></div>
</div>
