<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Projects
      <small>list preview</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Projects</li>
    </ol>
  </section>

  <div class="container">
    <section class="content">
      <div class="row">


        <div style="width: 95%">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Project's Table</h3>
            </div>
            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Title</th>
                  <th>Progress</th>
                  <th style="width: 100px"></th>
                </tr>

                <tr *ngFor="let project of projects; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{project.name}}</td>
                  <td style="padding-left: 25px; padding-right: 25px">
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                  </td>
                  <td style="width: 300px">
                    <button type="button"
                            class="btn btn-block btn-primary btn-xs"
                            style="width: 70px; display: inline-block; margin-top: 0px; margin-right: 5px">
                      EDIT
                    </button>
                    <button type="button"
                            class="btn btn-block btn-danger btn-xs"
                            style="width: 70px; display: inline-block; margin-top: 0px">
                      DELETE
                    </button>
                    <span class="badge bg-red"></span>
                  </td>
                </tr>

              </table>
            </div>
          </div>

        </div>


<!--          <div class="col-md-4" *ngFor="let project of projects; let i = index">-->
<!--            &lt;!&ndash; Widget: user widget style 1 &ndash;&gt;-->
<!--            <div class="box box-widget widget-user-2">-->
<!--              &lt;!&ndash; Add the bg color to the header using any of the bg-* classes &ndash;&gt;-->
<!--              <div class="widget-user-header bg-aqua-active">-->
<!--                &lt;!&ndash; /.widget-user-image &ndash;&gt;-->
<!--                <h3 class="widget-user-username" style="text-align: center; margin-left: 0; text-transform: capitalize">{{project.name}}</h3>-->
<!--              </div>-->
<!--              <div class="box-footer no-padding">-->
<!--                <ul class="nav nav-stacked">-->
<!--                  <li *ngFor="let todo of project.todos">-->
<!--                    <a href="#" style="text-transform: capitalize">-->
<!--                      {{todo.label}}-->
<!--                      <span class="pull-right badge"-->
<!--                            [class.bg-green]="todo.status"-->
<!--                            [class.bg-red]="!todo.status">-->
<!--                        {{ todo.status ? 'done' : 'work' }}-->
<!--                      </span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li><a href="#">red_Example <span class="pull-right badge bg-red">work</span></a></li>-->
<!--                  <li><div style="margin-top: 20px;"></div></li>-->
<!--                  <li>-->

<!--                    <div>-->
<!--                      <button type="button" class="btn btn-block btn-warning">EDIT</button>-->
<!--                    </div>-->

<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.widget-user &ndash;&gt;-->
<!--          </div>-->


      </div>
    </section>
  </div>

</div>
