<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Projects
      <small>list preview</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Projects</li>
      <li class="active">List</li>
    </ol>
  </section>

  <div class="container">
    <section class="content">
      <div class="row">

        <div style="width: 95%">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Project's Table</h3>
              <div class="col-md-2 col-md-offset-10">
                <button type="button"
                        class="btn btn-block btn-primary btn-sm"
                        [routerLink]="['/projects', 'new']">
                  Add Project
                </button>
              </div>
            </div>

            <div class="box-body no-padding">
              <table class="table table-condensed">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Name</th>
                  <th style="padding-left: 30px;">Progress</th>
                  <th style="width: 100px"></th>
                </tr>

                <tr *ngFor="let project of projects; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{project.name}}</td>
                  <td style="padding-left: 25px; padding-right: 25px">
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                  </td>
                  <td style="width: 300px">

                    <button type="button"
                            class="btn btn-block btn-primary btn-xs"
                            [routerLink]="['/projects', 'edit', project._id]"
                            style="width: 70px; display: inline-block; margin-top: 0px; margin-right: 5px">
                      EDIT
                    </button>

                    <button type="button"
                            class="btn btn-block btn-danger btn-xs"
                            (click)="onRemove(project._id)"
                            style="width: 70px; display: inline-block; margin-top: 0px; margin-right: 5px">
                      DELETE
                    </button>

                    <button type="button"
                            class="btn btn-block btn-success btn-xs"
                            [routerLink]="['/projects', 'show', project._id]"
                            style="width: 70px; display: inline-block; margin-top: 0px">
                      SHOW
                    </button>
                    <span class="badge bg-red"></span>
                  </td>
                </tr>

              </table>
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>

</div>
