<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Todos
      <small>list preview</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Todos</a></li>
      <li><a href="#">List</a></li>
    </ol>
  </section>

  <div class="container">
    <section class="content">
      <div class="row">

        <div style="width: 95%">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Todo's Table</h3>
              <div class="col-md-2 col-md-offset-10">
                <button type="button"
                        class="btn btn-block btn-primary btn-sm"
                        [routerLink]="['/todos', 'new']">
                  Add Todo
                </button>
              </div>
            </div>

            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>#</th>
                  <th>Label</th>
                  <th>Date</th>
                  <th>Project</th>
                  <th>Status</th>
                  <th></th>
                </tr>

                <tr *ngFor="let todo of todos; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ todo.label }}</td>
                  <td>{{ todo.endDate | date }}</td>
                  <td>{{ todo.project.name }}</td>
                  <td><span class="label"
                            [class.label-success]="todo.status"
                            [class.label-warning]="!todo.status">
                    {{ todo.status ? 'done' : 'work' }}
                  </span></td>
                  <td>
                    <button type="button"
                            class="btn btn-block btn-primary btn-xs"
                            [routerLink]="['/todos', 'edit', todo._id]"
                            style="width: 70px; display: inline-block; margin-top: 0px; margin-right: 5px">
                      EDIT
                    </button>
                    <button type="button"
                            class="btn btn-block btn-danger btn-xs"
                            (click)="onRemove(todo._id)"
                            style="width: 70px; display: inline-block; margin-top: 0px">
                      DELETE
                    </button>
                    <span class="badge bg-red"></span>
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>


      </div>

    </section>
  </div>

</div>
